{% extends 'base.html.twig' %}

{% block content %}

<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
    <main class="container white-page">
        <div class="section">
            <div class="d-flex align-items-center mb-3">
                <h1 class="t-section">Ajout d'un nouveau jeu en base de donnée</h1>
                <span></span>
            </div>
            <div class="d-flex align-items-center mb-3">
                <h2 class="t-gamePage">Information</h2>
                <span></span>
            </div>
            <form action="../../Controller/GameController.php" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Titre</label>
                                <div class="border-button">
                                    <input name="title" type="text" class="form-control" id="name" aria-describedby=""
                                        placeholder="Titre">
                                </div>
                            </div>
                            {% for i in 0..1 %}
                            <div class="mb-3">
                                <label for="{{ "category"~i }}" class="form-label">Genre</label>
                                <div class="border-button">
                                    <select name="{{ "category"~i }}" class="form-select" aria-label="Default select example">
                                        <option selected>Choisissez un genre</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% else %}
                                            <option>Pas de genres trouver en base de donnée</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="mb-3">
                                <label for="developper" class="form-label">Développeur</label>
                                <div class="border-button">
                                    <select name="dev" class="form-select" aria-label="Default select example">
                                        <option selected>Choisissez un développeur</option>
                                        {% for developper in developpers %}
                                        <option value="{{ developper.id }}">{{ developper.name }}</option>
                                        {% else %}
                                        <option>Pas de développeur trouver en base de donnée</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="dateLaunch" class="form-label">Date de sortie</label>
                                <div class="border-button mb-3">
                                    <div class="border-button">
                                        <input name="releaseDate" type="date" class="form-control" id="dateLaunch"
                                            aria-describedby="textHelp" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="hook" class="form-label">Accroche</label>
                                <div class="border-button">
                                    <input name="hook" type="text" class="form-control" id="hook" aria-describedby="" placeholder="Accroche">
                                </div>
                        </div>
                            
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Prix</label>
                                <div class="border-button">
                                    <input name="price" type="text" class="form-control" id="name" aria-describedby=""
                                        placeholder="Prix">
                                </div>
                            </div>
                            {% for i in 2..3 %}
                            <div class="mb-3">
                                <label for="{{ "category"~i }}" class="form-label">Genre</label>
                                <div class="border-button">
                                    <select name="{{ "category"~i }}" class="form-select" aria-label="Default select example">
                                        <option selected>Choisissez un genre</option>
                                        {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% else %}
                                        <option>Pas de genres trouver en base de donnée</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="mb-3">
                                <label for="editor" class="form-label">Editeur</label>
                                <div class="border-button">
                                    <select name="editor" class="form-select" aria-label="Default select example">
                                        <option selected>Choisissez un éditeur</option>
                                        {% for editor in editors %}
                                        <option value="{{ editor.id }}">{{ editor.name }}</option>
                                        {% else %}
                                        <option>Pas d'éditeur trouver en base de donnée</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="pegi" class="form-label">PEGI</label>
                                <div class="border-button">
                                    <select name="pegi" class="form-select" aria-label="Default select example">
                                        <option selected>Choisissez un PEGI</option>
                                        {% for pegi in pegis %}
                                        <option value="{{ pegi.id }}">{{ pegi.name }}</option>
                                        {% else %}
                                        <option>Pas de PEGI trouver en base de donnée</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="editor" class="form-label">Plateforme</label>
                                <div class="border-button mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Choisissez une plateforme</option>
                                        {% for platform in platforms %}
                                        <option value="{{ platform.id }}">{{ platform.name }}</option>
                                        {% else %}
                                        <option>Pas de plateforme trouver en base de donnée</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <h2 class="t-gamePage">Images et Vidéo</h2>
                    <span></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="youtubeLink" class="form-label">Lien Youtube</label>
                            <div class="border-button">
                                <input name="youtube" type="text" class="form-control" id="youtubeLink" aria-describedby="" placeholder="Lien Youtube">
                            </div>
                        </div>
                        {% for i in 0..1 %}
                        <div class="mb-3">
                            <label for="{{ "image"~i }}" class="form-label">Image</label>
                            <div class="border-button">
                                <input name="{{ "image"~i }}" class="form-control" type="file" id="{{ "image"~i }}">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="mb-3">
                            <label for="image2" class="form-label">Logo</label>
                            <div class="border-button">
                                <input name="image2" class="form-control" type="file" id="image2">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="image3" class="form-label">Image miniature Youtube</label>
                            <div class="border-button mb-3">
                                <input name="image3" class="form-control" type="file" id="image3">
                            </div>
                        </div>
                        {% for i in 4..5 %}
                        <div class="mb-3">
                            <label for="{{ "image"~i }}" class="form-label">Image</label>
                            <div class="border-button">
                                <input name="{{ "image"~i }}" class="form-control" type="file" id="{{ "image"~i }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <h2 class="t-gamePage">Descriptions</h2>
                    <span></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        {% for i in 0..3 %}
                        <div class="mb-3">
                            <label for="{{"paragraphTitle"~i}}" class="form-label">Titre</label>
                            <div class="border-button">
                                <input name="{{"paragraphTitle"~i}}" type="text" class="form-control" id="{{"paragraphTitle"~i}}" placeholder="Titre du paragraphe">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{"paragraph"~i}}" class="form-label">Texte descriptif</label>
                            <div class="border-button">
                                <textarea name="{{"paragraph"~i}}" type="text" class="form-control" id="{{"paragraph"~i}}"></textarea>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {% for i in 4..7 %}
                        <div class="mb-3">
                            <label for="{{"paragraphTitle"~i}}" class="form-label">Titre</label>
                            <div class="border-button">
                                <input name="{{"paragraphTitle"~i}}" type="text" class="form-control" id="{{"paragraphTitle"~i}}" placeholder="Titre du paragraphe">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{"paragraph"~i}}" class="form-label">Texte descriptif</label>
                            <div class="border-button">
                                <textarea name="{{"paragraph"~i}}" type="text" class="form-control" id="{{"paragraph"~i}}"></textarea>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <h2 class="t-gamePage">Configuration</h2>
                    <span></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="requirement0" class="form-label">Système d'xploitation minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un ystème d'xploitation minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement1" class="form-label">Processeur Intel minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un processeur minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement2" class="form-label">Processeur AMD minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un processeur minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement3" class="form-label">Mémoire vive minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une mémoire vive minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement4" class="form-label">Stockage minimum</label>
                            <div class="border-button mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un stockage minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement5" class="form-label">DirectX minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un DirectX minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement6" class="form-label">Carte graphique NVIDIA minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une carte graphique minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement7" class="form-label">Carte graphique AMD minimum</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une carte graphique minimum</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="requirement8" class="form-label">Système d'xploitation recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un ystème d'xploitation recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement9" class="form-label">Processeur Intel recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un processeur recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement10" class="form-label">Processeur AMD recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un processeur recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement11" class="form-label">Mémoire vive recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une mémoire vive recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement12" class="form-label">Stockage recommandé</label>
                            <div class="border-button mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un stockage recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement13" class="form-label">DirectX recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez un DirectX recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement14" class="form-label">Carte graphique NVIDIA recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une carte graphique recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="requirement15" class="form-label">Carte graphique AMD recommandé</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une carte graphique recommandé</option>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}">{{ requirement.name }}</option>
                                    {% else %}
                                    <option>Aucune configuration trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <h2 class="t-gamePage">Langues</h2>
                    <span></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        {% for i in 0..4 %}
                        <div class="mb-3">
                            <label for="{{"languageText~i"}}" class="form-label">Langue du Texte</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une langue du texte</option>
                                    {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.name }}</option>
                                    {% else %}
                                    <option>Pas de langue trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                        {% for i in 0..9 %}
                        <div class="mb-3">
                            <label for="{{"languageAudio~i"}}" class="form-label">Langue audio</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une langue audio</option>
                                    {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.name }}</option>
                                    {% else %}
                                    <option>Pas de langue trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {% for i in 5..9 %}
                        <div class="mb-3">
                            <label for="{{"languageText~i"}}" class="form-label">Langue du Texte</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une langue du texte</option>
                                    {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.name }}</option>
                                    {% else %}
                                    <option>Pas de langue trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                        {% for i in 10..19 %}
                        <div class="mb-3">
                            <label for="{{"languageAudio~i"}}" class="form-label">Langue audio</label>
                            <div class="border-button">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisissez une langue audio</option>
                                    {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.name }}</option>
                                    {% else %}
                                    <option>Pas de langue trouver en base de donnée</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="border-button-game-page">
                            <button type="submit" class="button-game-page ps-5 pe-5">
                                Ajouter le jeu à la base de donnée
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <! -- //////////////////////////////MAIN END//////////////////////////////////////// -->
        {% endblock %}