{% extends 'base.html.twig' %}

{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
    <main class="container white-page">
        {% for game in games %}
        <h1 class="t-game2">{{game.name}}</h1>
        <div class="row">
            <div class="col-lg-9"> 
                <div class="section">
                    <iframe id="frame" class="active mb-4" width="100%" height="543" src="{{game.youtubeLink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <img id="img-game" class="img-game mb-4 disable" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="god of war">
                    <div class="d-flex align-items-center justify-content-between section">
                        <img id="img-game-mini1" class="img-game-mini1" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image4}}" alt="">
                        <img id="img-game-mini2" class="img-game-mini2" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="">
                        <img id="img-game-mini3" class="img-game-mini3" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image1}}" alt="">
                        <img id="img-game-mini4" class="img-game-mini4" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image2}}" alt="">
                        <img id="img-game-mini5" class="img-game-mini5" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image3}}" alt="">
                    </div>
                    <div class="section">
                        <p class="description">
                            {{ game.para0 }}
                        </p>
                    </div>
                    <div class="section">
                            
                        <div class="d-flex align-items-center">
                            <h2 class="t-gamePage">{{game.name}}</h2>
                            <span></span>
                        </div>
                        <div>
                            <h3 class="t-description">{{game.title0}}</h3>
                            <p class="description2">{{game.para0}}</p>
                        </div>             
                        <div>
                            <h3 class="t-description">{{game.title1}}</h3>
                            <p class="description2">{{game.para1}}</p>
                        </div>  
                        <div>
                            <h3 class="t-description">{{game.title2}}</h3>
                            <p class="description2">{{game.para2}}</p>
                        </div> 
                        <div id="content" class="content">
                            <div>
                                <h3 class="t-description">{{game.title3}}</h3>
                                <p class="description2">{{game.para3}}</p>
                            </div> 
                            <div>
                                <h3 class="t-description">{{game.title4}}</h3>
                                <p class="description2">{{game.para4}}</p>
                            </div> 
                            <div>
                                <h3 class="t-description">{{game.title5}}</h3>
                                <p class="description2">{{game.para5}}</p>
                            </div> 
                            <div>
                                <h3 class="t-description">{{game.title6}}</h3>
                                <p class="description2">{{game.para6}}</p>
                            </div> 
                            <div>
                                <h3 class="t-description">{{game.title7}}</h3>
                                <p class="description2">{{game.para7}}</p>
                            </div> 
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="border-button-game-page">
                                <button id="buttonCollapse" class="button-game-page collapsible">
                                    Voir plus
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="d-flex align-items-center">
                        <h2 class="t-gamePage">Configuration</h2>
                        <span></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="me-3">
                            <h3 class="t-description mb-2">Configuration Minimum</h3>
                                {% for requirements in requirementsGame %}
                                {% if requirements.minimum == 1 %}
                                <p class="p.description">
                                    {{requirements.typeName}}
                                    <br>
                                    {{requirements.requirementName}}
                                </p>
                                {% endif %}
                                {% endfor %}
                        </div>
                        <div>
                            <h3 class="t-description">Configuration recommandée</h3>
                            {% for requirements in requirementsGame %}
                                {% if requirements.minimum == 0 %}
                                <p class="p.description">
                                    {{requirements.typeName}}
                                    <br>
                                    {{requirements.requirementName}}
                                </p>
                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="d-flex align-items-center">
                        <h2 class="t-gamePage">Langues disponibles</h2>
                        <span></span>
                    </div>
                    <p>
                        <span>Audio :</span>
                        {% for languages in languagesGame %}
                        {% if languages.isAudio == 1 %}
                        <span> {{ languages.languageName }},</span>
                        {% endif %}
                        {% else %}
                        Pas de langue audio trouvée en base de données
                        {% endfor %}
                    </p>
                    <p>
                        <span>Texte :</span>
                        {% for languages in languagesGame %}
                        {% if languages.isAudio == 0 %}
                        <span> {{ languages.languageName }},</span>
                        {% endif %}
                        {% else %}
                        Pas de langue textuelle trouvée en base de données
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="border-card">
                    <div class="card-game">
                        <div class="d-flex justify-content-center mb-3">
                            <img class="logo-game" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image5}}" alt="">
                        </div>
                        <span class="mb-3">
                            Genre
                        </span>
                        <div class="d-flex justify-content-between mb-2">
                            {% for category in categoriesGame %}
                                <span class="me-2">{{category.categoryName}}</span>
                            {% endfor %}
                        </div>
                        <p>
                            {{ game.price|replace({'.' : ','}) }} €
                        </p>
                        <a href="/cart">
                            <div class="border-button-game-page mb-3">
                                <button class="button-game-page">
                                    Ajouter au panier
                                </button>
                            </div>
                        </a>
                            <div class="mb-3">
                                <img class="logo-pegi" src="{{'../assets/public/img/pegis/'~game.pegiImg}}" alt="">
                                <span>{{game.pegiName }}</span>
                            </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Développeur
                            </span>
                                <span class="right-card-game">
                                    {{game.developperName}}
                                </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Editeur
                            </span>
                                <span class="right-card-game">
                                    {{game.editorName}}
                                </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Disponible
                            </span>
                            <span class="right-card-game">
                                {{game.releaseDate|date('d/m/Y')}}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Plateforme
                            </span>
                            <div>
                            {% for platform in platformsGame %}
                                {% if platform.platformName == 'Windows' %}
                                    <span class="iconify" data-icon="ant-design:windows-filled" style="color: white;"></span>
                                {% endif %}
                                {% if platform.platformName == 'Playstation 5' %}
                                    <span class="iconify" data-icon="simple-icons:playstation5" data-width="40" style="color: white;"></span>
                                {% endif %}
                                {% if platform.platformName == 'Xbox Series' %}
                                    <span class="iconify" data-icon="bi:xbox" style="color: white;"></span>
                                {% endif %}
                            {% else %}
                                <span>Pas de plateforme trouvée en base de données</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor  %}

    </main>

    <! -- //////////////////////////////MAIN END//////////////////////////////////////// -->

{% endblock %}