{% extends 'base.html.twig' %}

{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
    <main class="container white-page">
        {% for game in games|slice(0,1) %}
        

        <h1 class="t-game2">{{game.name}}</h1>
        <div class="row">
            <div class="col-lg-9"> 
                <div class="section">
                    <iframe id="iframe" class="active mb-4"  width="100%" height="543"
                        src="{{game.youtubeLink}}" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <img id="img-game" class="img-game mb-4 disable" src="../assets/public/img/games/god_of_war.png" alt="god of war">
                    <div class="d-flex align-items-center justify-content-between section">
                        <img id="img-game-mini1" class="img-game-mini1" src="../assets/public/img/games/godofwarYoutube.png" alt="">
                        <img id="img-game-mini2" class="img-game-mini2" src="../assets/public/img/games/god_of_war.png" alt="">
                        <img id="img-game-mini3" class="img-game-mini3" src="../assets/public/img/games/god_of_war_miniature1.png" alt="">
                        <img id="img-game-mini4" class="img-game-mini4" src="../assets/public/img/games/god_of_war_miniature2.png" alt="">
                        <img id="img-game-mini5" class="img-game-mini5" src="../assets/public/img/games/god_of_war_miniature3.png" alt="">
                    </div>

                    <div class="section">
                        {% for paragraph in paragraphs|slice(0, 1) %}
                        {% if paragraph.id_game in game.id %}

                        <p class="description">
                            {{ paragraph.paragraph }}
                        </p>

                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="section">
                        <div class="d-flex align-items-center">
                            <h2 class="t-gamePage">{{game.name}}</h2>
                            <span></span>
                        </div>

                        {% for paragraph in paragraphs|slice(0, 3) %}                             
                            {% if paragraph.id_game in game.id %}

                        <h3 class="t-description">{{ paragraph.title}}</h3>
                        <p class="description2">
                            {{ paragraph.paragraph }}
                        </p>

                        {% endif %}
                        {% endfor %}

                        <div id="content" class="content">
                            {% for paragraph in paragraphs|slice(3, 5) %}                             
                            {% if paragraph.id_game in game.id %}
                                <h3 class="t-description">{{ paragraph.title}}</h3>
                                <p class="description2">
                                    {{ paragraph.paragraph }}
                                </p>
                                {% endif %} 
                            {% endfor %}
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="border-button-game-page">
                                <button id="buttonCollapse" class="button-game-page collapsible">
                                    Voir plus
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="d-flex align-items-center">
                        <h2 class="t-gamePage">Configuration</h2>
                        <span></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="me-3">
                            <h3 class="t-description">Configuration Minimum</h3>
                            <p class="p.description">
                                Système d'exploitation<br>
                                Windows 10 64 bits
                            </p>
                            <p class="p.description">
                                Processeur<br>
                                Intel i5-2500k (4 cœurs 3,3 GHz) ou AMD Ryzen 3 1200 (4 cœurs 3,1 GHz)
                            </p>
                            <p class="p.description">
                                Mémoire vive<br>
                                8 Go DDR
                            </p>
                            <p class="p.description">
                                Stockage<br>
                                70 Go HDD (SSD recommandé)
                            </p>
                            <p class="p.description">
                                DirectX<br>
                                DirectX 11 (niveau de fonctionnalité 11_1)
                            </p>
                            <p class="p.description">
                                Carte graphique<br>
                                NVIDIA GTX 960 (4 Go) ou AMD R9 290X (4 Go)
                            </p>
                        </div>
                        <div>
                            <h3 class="t-description">Configuration recommandée</h3>
                            <p class="p.description">
                                Système d'exploitation<br>
                                Windows 10 64 bits
                            </p>
                            <p class="p.description">
                                Processeur<br>
                                Intel i5-6600k (4 cœurs 3,5 GHz) ou AMD Ryzen 5 2400 G (4 cœurs 3,6 GHz)
                            </p>
                            <p class="p.description">
                                Mémoire vive<br>
                                8 Go DDR
                            </p>
                            <p class="p.description">
                                Stockage<br>
                                70 Go SSD
                            </p>
                            <p class="p.description">
                                DirectX<br>
                                DirectX 11 (niveau de fonctionnalité 11_1)
                            </p>
                            <p class="p.description">
                                Carte graphique<br>
                                NVIDIA GTX 1060 (6 Go) ou AMD RX 570 (4 Go)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="d-flex align-items-center">
                        <h2 class="t-gamePage">Langues disponibles</h2>
                        <span></span>
                    </div>
                    <p>
                        AUDIO : anglais, français, allemand, italien, japonais, polonais, portugais,
                        portugais
                        (Brésil),
                        russe, espagnol (Espagne), espagnol (Amérique latine)
                    </p>
                    <p>
                        TEXTE : anglais, néerlandais, français, allemand, italien, japonais, coréen,
                        polonais,
                        portugais,
                        portugais (Brésil), russe, espagnol (Espagne), espagnol (Amérique latine), turc,
                        chinois
                        traditionnel, hongrois, tchèque, grec
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="border-card">
                    <div class="card-game">
                        <div class="d-flex justify-content-center mb-3">
                            <img class="logo-game" src="../assets/public/img/games/god_war_logo.png" alt="">
                        </div>
                        <span class="mb-3">
                            Genre
                        </span>
                        <div class="d-flex justify-content-between mb-2">
                            <span class="me-2">
                                Aventure
                            </span>
                            <span class="me-2">
                                Jeu de rôle
                            </span>
                            <span class="me-2">
                                Action
                            </span>
                            <span class="me-2">
                                Solo
                            </span>
                        </div>
                        <p>
                            {{ game.price|replace({'.' : ','}) }} €
                        </p>
                        <a href="/cart">
                            <div class="border-button-game-page mb-3">
                                <button class="button-game-page">
                                    Ajouter au panier
                                </button>
                            </div>
                        </a>
                        {% for pegi in pegis %}
                            {% if pegi.id in game.id_pegi %}
                            <div class="mb-3">
                                <img class="logo-pegi" src="{{'../assets/public/img/pegis/'~pegi.img}}" alt="">
                                <span>{{pegi.name}}</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Développeur
                            </span>
                            {% for developper in developpers %}
                                {% if developper.id in game.id_developper %}
                                <span class="right-card-game">
                                    {{developper.name}}
                                </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Editeur
                            </span>
                            {% for editor in editors %}
                                {% if editor.id in game.id_editor %}
                                <span class="right-card-game">
                                    {{editor.name}}
                                </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Disponible
                            </span>
                            <span class="right-card-game">
                                {{game.releaseDate|date('d/m/Y')}}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="left-card-game">
                                Plateforme
                            </span>
                            <span class="iconify" data-icon="ant-design:windows-filled" style="color: white;">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor  %}

    </main>

    <! -- //////////////////////////////MAIN END//////////////////////////////////////// -->

{% endblock %}