{% extends "base.html.twig" %}
{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
    <main class="container">
        <! -- //////////////////////////////CAROUSEL START//////////////////////////////////////// -->
            <div class="section">
                <div class="slides-container">
                    <div class="slider">
                        {% for game in games %}
                        <div class="cont-img position-relative">
                            <a href="/game">
                                <img class="img-carousel" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="{{game.name}}">
                                <div class="position-absolute ms-5 top-50 carousel-text">
                                    <div class="d-flex justify-content-start mb-lg-3 mb-md-1">
                                        <img class="logo-game" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image5}}" alt="{{game.name}}">
                                    </div>
                                    {% if date(game.releaseDate) > date() %}
                                    <p class="date">
                                        Disponible le {{ game.releaseDate|date('d/m/Y') }}
                                    </p>
                                    {% endif %}
                                    <p>
                                        {{game.hook}}
                                    </p>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <! -- //////////////////////////////CAROUSEL END//////////////////////////////////////// -->

                <! -- //////////////////////////////DISCOVERIES START//////////////////////////////////////// -->
                    <div class="section">
                        <div class="d-flex align-items-center mb-3">
                            <h1 class="t-section me-3 ">Découvertes</h1>
                            <a href="">
                                <div class="border-button">
                                    <button class="button ps-5 pe-5">Voir plus</button>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            {% for game in games|slice(0, 2) %}
                            <div class="border-card-hover col-lg-6 col-md-12">
                                <a href="">
                                <div class="card-game">
                                    <img class="img-discoveries" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="{{game.name}}">
                                    <h2 class="t-game">{{game.name}}</h2>
                                    <p class="">{{game.hook}}</p>
                                    <p class="">{{ game.price|replace({'.' : ','}) }} €</p>
                                </div>
                            </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <! -- //////////////////////////////DISCOVERIES END//////////////////////////////////////// -->

                        <! -- //////////////////////////////MIDSECTION START//////////////////////////////////////// -->
                            <div class="section row justify-content-between">
                                <! -- //////////////////////////////NEW RELEASES
                                    START//////////////////////////////////////// -->
                                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12">
                                        <div class="d-flex align-items-center mb-3">
                                            <h1 class="t-section me-3 ">Nouvelles sorties</h1>
                                            <a href="">
                                                <div class="border-button">
                                                    <button class="button ps-3 pe-3">Voir plus</button>
                                                </div>
                                            </a>
                                        </div>
                                        {% for game in games|slice(0, 5) %}
                                        {% if date(game.releaseDate) < date() %}
                                        <div class="border-card-hover">
                                            <a href="">
                                            <div class="d-flex align-items-center card-game">
                                                <img class="img-midsection me-3" src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="{{game.name}}"
                                                    alt="god of war">
                                                <div>
                                                    <h2 class="t-game">{{game.name}}</h2>
                                                    <p>{{ game.price|replace({'.' : ','}) }} €</p>
                                                </div>
                                            </div>
                                        </a>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <! -- //////////////////////////////NEW RELEASES
                                        END//////////////////////////////////////// -->

                                        <div class="vr vertical-line col-1 mx-auto"></div>

                                        <! -- //////////////////////////////BEST SELLS
                                            START//////////////////////////////////////// -->
                                            <div class="col-xl-4 col-lg-12">
                                                <div class="d-flex align-items-center mb-3">
                                                    <h1 class="t-section me-3 ">Meilleures ventes
                                                    </h1>
                                                    <a href="">
                                                        <div class="border-button">
                                                            <button class="button ps-2 pe-2">Voir
                                                                plus</button>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% for game in games|slice(0, 5) %}
                                                {% if date(game.releaseDate) < date() %}
                                                <div class="border-card-hover">
                                                    <a href="">
                                                    <div class="d-flex align-items-center card-game">
                                                        <img class="img-midsection me-3"
                                                            src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="{{game.name}}"
                                                            alt="god of war">
                                                        <div>
                                                            <h2 class="t-game">{{game.name}}</h2>
                                                            <p>{{ game.price|replace({'.' : ','}) }} €</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                </div>
                                                {% endif %}
                                                {% endfor %}

                                            </div>
                                            <! -- //////////////////////////////BEST SELLS
                                                END//////////////////////////////////////// -->

                                                <div class=" vr vertical-line col-1 mx-auto"></div>

                                                <! -- //////////////////////////////FUTURE RELEASES
                                                    START//////////////////////////////////////// -->
                                                    <div class="col-xl-3 col-lg-12">
                                                        <div class="d-flex align-items-center mb-3">
                                                            <h1 class="t-section me-3 ">Prochaines sorties
                                                            </h1>
                                                            <a href="">
                                                                <div class="border-button">
                                                                    <button class="button ps-2 pe-2">Voir
                                                                        plus</button>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        {% for game in games %}
                                                        {% if date(game.releaseDate) > date() %}
                                                        <div class="border-card-hover">
                                                            <a href="">
                                                            <div class="d-flex align-items-center card-game">
                                                                <img class="img-midsection me-3"
                                                                    src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="{{game.name}}"
                                                                    alt="god of war">
                                                                <div>
                                                                    <h2 class="t-game">{{game.name}}</h2>
                                                                    <p>Disponible le {{ game.releaseDate|date('d/m/Y') }}</p>
                                                                    <p>{{ game.price|replace({'.' : ','}) }} €</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}

                                                    </div>
                                                    <! -- //////////////////////////////BEST SELLS
                                                        END//////////////////////////////////////// -->

                            </div>
                            <! -- //////////////////////////////MIDSECTION END////////////////////////////////////////
                                -->

                                <! -- //////////////////////////////DISCOVERIES
                                    START//////////////////////////////////////// -->
                                    <div class="section">
                                        <div class="d-flex align-items-center mb-3">
                                            <h1 class="t-section me-3 ">Découvertes</h1>
                                            <a href="">
                                                <div class="border-button">
                                                    <button class="button ps-5 pe-5">Voir plus</button>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="row">
                                            {% for game in games|slice(0, 2) %}
                                            <div class="border-card-hover col-lg-6 col-md-12">
                                                <a href="">
                                                <div class="card-game">
                                                    <img class="img-discoveries"
                                                        src="{{'/assets/public/img/games/'~game.name|lower|replace({' ' : '_'})~'/'~game.image0}}" alt="{{game.name}}"
                                                        alt="Final Fantasy">
                                                    <h2 class="t-game">{{game.name}}</h2>
                                                    <p class="">{{game.hook}}</p>
                                                    <p class="">{{ game.price|replace({'.' : ','}) }} €</p>
                                                </div>
                                            </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <! -- //////////////////////////////DISCOVERIES
                                        END//////////////////////////////////////// -->

    </main>
    <! -- //////////////////////////////MAIN END//////////////////////////////////////// -->
        {% endblock  %}